# Build
/build
/captures
.externalNativeBuild
.cxx

# Gradle
.gradle
/local.properties
local.properties

# IDE
*.iml
.idea/*
!.idea/codeStyles/
!.idea/codeStyles/**

# OS
.DS_Store

# Firebase
app/google-services.json
firebase.json
.firebaserc
.firebase/*
